body {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

.grecaptcha-badge {
    display: none !important;
}
